body {
    font-family: sans-serif;
    margin: 20px;
    /* 縦方向（上から下）のグラデーションに変更 */
    background: linear-gradient(to bottom, #ffd5d5 0%, #ee8320 100%);
    color: #333;
}

h1,
h2 {
    color: #ff1111;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #ebe8e8;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"] {
    width: calc(100% - 22px);
    /* padding と border を考慮 */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #0e0e0e;
    border-radius: 4px;
}

button {
    background-color: #ff684d;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #ff684d;
}

/* タスクテキストにホバー時の揺れアニメーションを追加 */
.task-text {
    display: inline-block;
    transition: transform 0.1s;
}

.task-text:hover {
    animation: shake-vertical 0.8s;
    animation-iteration-count: 1;
}

@keyframes shake-vertical {
    0% {
        transform: translateY(0);
    }

    10% {
        transform: translateY(-4px);
    }

    20% {
        transform: translateY(4px);
    }

    30% {
        transform: translateY(-8px);
    }

    40% {
        transform: translateY(8px);
    }

    50% {
        transform: translateY(-8px);
    }

    60% {
        transform: translateY(8px);
    }

    70% {
        transform: translateY(-4px);
    }

    80% {
        transform: translateY(4px);
    }

    90% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(0);
    }
}